html {
  font-family: Tomorrow-Semibold;
  height: 100%;
}
@font-face {
  font-family: Tomorrow-Semibold;
  src: url(Tomorrow-SemiBold.ttf);
}
@font-face {
  font-family: Tomorrow-Regular;
  src: url(Tomorrow-Regular.ttf);
}
body {
  background-color: rgb(21,21,21);
  display: flex;
  color: white;
  margin: 0;
  padding: 0;
  flex-direction: column;
  min-height: 100%;
}
.body-light-mode {
  background-color: rgb(234,234,234);
  color:black;
}
p {
  margin: 0;
  padding: 0;
}
#top-bar {
  display: flex;
  width: 100%;
  height: 65px;
  justify-content: space-between;
  background: black;
  z-index: 1;
}
.name {
  display: flex;
  align-items: center;
  user-select: none;
  height: 65px;
}
.name p {
  font-size: 27.5px;
}
.name img {
  height: 40px;
  padding: 12.5px;
}
/* The sidepanel menu */
.sidepanel {
  width: 0; /* 0 width - change this with JavaScript */
  position: absolute; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  background-color: black; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  border-right-width: 0px;
  border-radius: 0 0 0 10px;
}
  
  /* The sidepanel links */
.sidepanel a {
  padding: 16px 16px 16px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}
  
  /* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  background-color: rgba(0, 64, 148, 0.5);
}

  /* Style the button that is used to open the sidepanel */
.menu-toggle {
  cursor: pointer;
  color: white;
  background-color: transparent;
  padding-inline: 20px;
  border: none;
  user-select: none;
  margin: 0px;
  transition: 0.125s;
  z-index: 1;
}
.menu-toggle:hover {
  background-color: rgba(0, 64, 148, 0.5);
}
.menu {
  width: 25px;
}

.sad {
  display: flex;
  margin-top: auto;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.sad a {
  text-decoration: none;
  color: white;
}
.sad a:hover {
  color: rgb(0, 89, 206);
}
.sad p:hover {
  transform: scale(102.5%);
  transition: 0.5s;
}

.footer {
  width: 100%; height: auto;
  display: flex; justify-content: space-between;
  background-color: rgb(0, 0, 0);
  padding-bottom: 10px; padding-top: 10px;
  margin-top: auto;
}
.ss-socials {
  display: flex; justify-content: center; align-items: center; gap: 10px;
  width: auto; margin-left: 10px;
  background-color: black;
}
.ss-socials a {
  display: flex; justify-content: center; height: center;
  /*background-color: blue;*/
}
.ss-image {
  width: 50px; height: 50px;
  /*background-color: red;*/
  transition: 0.3s;
}
.ss-image:hover {
  transform: scale(1.125);
}
.copyright {
  display: flex; justify-content: center; align-items: center; padding-inline: 10px;
}
@media (max-width: 700px) {
  #top-bar {
    height: 50px;
  }
  .name {
    height: 50px;
  }
  .name p {
    font-size: 20px;
  }
  .name img {
    height: 30px;
  }
  .sidepanel {
    padding-top: 50px;
  }
  .menu-toggle {
    padding-inline: 15px;
  }
  .menu {
    width: 20px;
  }
  .ss-image {
    margin: 5px;
    height: 30px;
    width: 30px;
  }
}