html {
  font-family: Ubuntu-Bold;
}
@font-face {
  font-family: Ubuntu-Bold;
  src: url(Ubuntu-Bold.ttf);
}
@font-face {
  font-family: Ubuntu-Regular;
  src: url(Ubuntu-Regular.ttf);
}
@font-face {
  font-family: Ubuntu-Light;
  src: url(Ubuntu-Light.ttf);
}
body {
  background-color: rgb(21,21,21);
  display: flex;
  color: white;
  margin: 0;
  padding: 0;
  flex-direction: column;
  min-height: 100vh;
}
p {
  margin: 0;
  padding: 0;
}
.top-bar {
  display: flex;
  width: 100%;
  background-color: black;
  justify-content: space-between;
  border-bottom: white;
  border-bottom-style: solid;
  animation: borderChange 1s ease-in-out;
}
.name {
  display: flex;
  align-items: center;
  font-size: 35px;
  user-select: none;
}
.name img {
  height: 60px;
  padding: 10px;
}
/* The sidepanel menu */
.sidepanel {
  height: 100%; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  background-color: #000000; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  padding-bottom: 100%;
  border-right-width: 0px;
}
  
  /* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}
  
  /* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #818181;
}
  
  /* Position and style the close button (top right corner) */
.sidepanel .close-menu {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 36px;
  margin-left: 50px;
}
  /* Style the button that is used to open the sidepanel */
.open-menu {
  cursor: pointer;
  color: white;
  background-color: transparent;
  padding-inline: 20px;
  border: none;
  user-select: none;
  margin: 0px;
  transition: 0.125s;
}
.open-menu:hover {
  background-color: rgba(0, 64, 148, 0.5);
}
.menu {
  width: 25px;
}
.glow-light {
  height: 80px;
  background: linear-gradient(rgba(0, 64, 148, 0.5) 0%, transparent 80%);
  animation: gradientChange 0.75s ease-in-out;
}
@keyframes gradientChange {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes borderChange {
  0% {
    border-color: rgb(75, 75, 75);
  }
  100% {
    border-color: white;
  }
}
.sad {
  width: auto;
  margin-top: auto;
  font-size: 60px;
  font-family: Ubuntu-Regular;
  text-align: center;
  text-shadow: 0px 0px 11px rgb(0, 110, 255);
  color: white;
  animation: shadowChange 0.75s ease-in-out;
}
@keyframes shadowChange {
  0% {
    text-shadow: 0px 0px 0px rgba(0, 110, 255, 0);
    color: rgb(75, 75, 75);
  }
  100% {
    text-shadow: 0px 0px 10px rgb(0, 110, 255);
    color: white;
  }
}
footer {
  margin-top: auto;
}
.footer {
  height: 80px;
  background-color: black;
  border-top: white solid;
  animation: borderChange 1s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rss-socials {
  margin: 10px;
  display: flex;
}
.rss-socials img {
  width: 50px;
  margin: 5px;
  transition: 0.3s;
}
.rss-socials img:hover {
  transform: scale(1.125);
}
.glow-light-2 {
  height: 80px;
  background: linear-gradient(0turn, rgba(0, 64, 148, 0.5) 0%, transparent 80%);
  animation: gradientChange2 0.75s ease-in-out;
}
.copyright {
  display: flex;
  align-items: center;
  padding-inline: 10px;
}
.copyright p {
  margin: 0;
}
@keyframes gradientChange2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 900px) {
  .name {
    font-size: 35px;
  }
  .name img {
    height: 60px;
  }
  .menu {
    width: 20px;
  }
  .description {
    font-size: 25px;
    padding-inline: 10%;
  }
  .team-title {
    font-size: 50px;
  }
  .team-member {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .name {
    font-size: 26px;
  }
  .name img {
    height: 50px;
  }
  .description {
    font-size: 20px;
    padding-inline: 10%;
  }
  .team-title {
    font-size: 35px;
  }
  .team-container {
    flex-direction: column;
    gap: 10px;
  }
  .team-member {
    width: 100%;
  }
  .rss-socials img {
    width: 35px;
  }
}