html {
    letter-spacing: 1px;
    font-family: Tahoma;
}
body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, rgb(23, 32, 29) 0%, rgb(27, 22, 29) 100%);
}
.content {
    width: 100%; min-height: 490px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
@font-face {
    font-family: ComicStory;
    src: url(Comic_Story.ttf);
}
.socials {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}
.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    border-radius: 20px;
    color: white;
    padding-top: 40px;
    padding-bottom: 20px;
    user-select: none;
    transition: all 300ms;
    font-weight: bold;
}
#discord {
    background-color: rgba(17, 0, 255, 0.1);
}
#youtube {
    background-color: rgba(255, 0, 0, 0.1);
}
#music {
    background-color:rgba(255, 0, 225, 0.1);
}
.grid-item:hover {
    transform: scale(1.010);
}
.body {
    max-height: 100%; max-width: 100%;
    padding: 10px;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60px; width: 100%;
    padding: 0px;
    margin: 0px;
}
.name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 64px; width: 100%;
    font-family: ComicStory;
}
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    background-color: rgba(128, 0, 255, 0.1);
    margin-bottom: 10px;
    border-radius: 20px;
    font-family: tahoma;
}
.title {
    color: white;
    padding: 0px;
    margin: 0px;
}
a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

@media (max-width: 600px) {
    .socials {
      font-size: 3.5vw; /* Adjust the font size for mobile */
    }
}